name: RoutesCoverage
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  gh-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup cache
        uses: actions/cache@v2
        id: opam-deps-cache
        with:
          path: ~/.opam
          key: ${{ runner.os }}-${{ matrix.ocaml-version }}-${{ hashFiles('*.opam') }}-1
      - uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.12.0
      - name: Install dependencies
        if: steps.opam-deps-cache.cache-hit != 'true'
        run: |
          opam pin add routes.dev -n .
          opam depext -yt routes
          opam install bisect_ppx
          opam install -t . --deps-only
      - name: Run tests
        run: |
          sed -i 's/library/library (preprocess (pps bisect_ppx))/g' src/dune
          opam exec -- dune runtest
          opam exec -- bisect-ppx-report send-to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_NUMBER: ${{ github.event.number }}
