name: RoutesTest
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [ '4.11.0', '4.08.1', '4.05.0' ]
    steps:
      - uses: actions/checkout@v2
      - uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - name: Install dependencies
        run: |
          opam pin add routes.dev -n .
          opam depext -yt routes
          opam install -t . --deps-only
      - name: Run tests
        run: |
          opam exec -- dune runtest
